# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
ephe/seas_00.se1
ephe/seas_06.se1
ephe/seas_12.se1
ephe/seas_24.se1
ephe/seas_30.se1
ephe/seas_36.se1
ephe/seas_42.se1
ephe/seas_48.se1
ephe/seas_54.se1
ephe/seas_60.se1
ephe/seas_66.se1
ephe/seas_72.se1
ephe/seas_78.se1
ephe/seas_84.se1
ephe/seas_90.se1
ephe/seas_96.se1
ephe/seas_102.se1
ephe/seas_108.se1
ephe/seas_114.se1
ephe/seas_120.se1
ephe/seas_126.se1
ephe/seas_132.se1
ephe/seas_138.se1
ephe/seas_144.se1
ephe/seas_150.se1
ephe/seas_156.se1
ephe/seas_162.se1
ephe/seasm06.se1
ephe/seasm12.se1
ephe/seasm18.se1
ephe/seasm24.se1
ephe/seasm30.se1
ephe/seasm36.se1
ephe/seasm42.se1
ephe/seasm48.se1
ephe/seasm54.se1
ephe/seasm60.se1
ephe/seasm66.se1
ephe/seasm72.se1
ephe/seasm78.se1
ephe/seasm84.se1
ephe/seasm90.se1
ephe/seasm96.se1
ephe/seasm102.se1
ephe/seasm108.se1
ephe/seasm114.se1
ephe/seasm120.se1
ephe/seasm126.se1
ephe/seasm132.se1
ephe/seasnam.txt
ephe/semo_00.se1
ephe/semo_06.se1
ephe/semo_12.se1
ephe/semo_18.se1
ephe/semo_24.se1
ephe/semo_30.se1
ephe/semo_36.se1
ephe/semo_42.se1
ephe/semo_48.se1
ephe/semo_54.se1
ephe/semo_60.se1
ephe/semo_66.se1
ephe/semo_72.se1
ephe/semo_78.se1
ephe/semo_84.se1
ephe/semo_90.se1
ephe/semo_96.se1
ephe/semo_102.se1
ephe/semo_108.se1
ephe/semo_114.se1
ephe/semo_120.se1
ephe/semo_126.se1
ephe/semo_132.se1
ephe/semo_138.se1
ephe/semo_144.se1
ephe/semo_150.se1
ephe/semo_156.se1
ephe/semo_162.se1
ephe/semom06.se1
ephe/semom12.se1
ephe/semom18.se1
ephe/semom24.se1
ephe/semom30.se1
ephe/semom36.se1
ephe/semom42.se1
ephe/semom48.se1
ephe/semom54.se1
ephe/semom60.se1
ephe/semom66.se1
ephe/semom72.se1
ephe/semom78.se1
ephe/semom84.se1
ephe/semom90.se1
ephe/semom96.se1
ephe/semom102.se1
ephe/semom108.se1
ephe/semom114.se1
ephe/semom120.se1
ephe/semom126.se1
ephe/semom132.se1
ephe/seorbel.txt
ephe/sepl_00.se1
ephe/sepl_06.se1
ephe/sepl_12.se1
ephe/sepl_18.se1
ephe/sepl_24.se1
ephe/sepl_30.se1
ephe/sepl_36.se1
ephe/sepl_42.se1
ephe/sepl_48.se1
ephe/sepl_54.se1
ephe/sepl_60.se1
ephe/sepl_66.se1
ephe/sepl_72.se1
ephe/sepl_78.se1
ephe/sepl_84.se1
ephe/sepl_90.se1
ephe/sepl_96.se1
ephe/sepl_102.se1
ephe/sepl_108.se1
ephe/sepl_114.se1
ephe/sepl_120.se1
ephe/sepl_126.se1
ephe/sepl_132.se1
ephe/sepl_138.se1
ephe/sepl_144.se1
ephe/sepl_150.se1
ephe/sepl_156.se1
ephe/sepl_162.se1
ephe/seplm06.se1
ephe/seplm12.se1
ephe/seplm18.se1
ephe/seplm24.se1
ephe/seplm30.se1
ephe/seplm36.se1
ephe/seplm42.se1
ephe/seplm48.se1
ephe/seplm54.se1
ephe/seplm60.se1
ephe/seplm66.se1
ephe/seplm72.se1
ephe/seplm78.se1
ephe/seplm84.se1
ephe/seplm90.se1
ephe/seplm96.se1
ephe/seplm102.se1
ephe/seplm108.se1
ephe/seplm114.se1
ephe/seplm120.se1
ephe/seplm126.se1
ephe/seplm132.se1
ephe/sat/plmolist.txt
ephe/sat/sepm9401.se1
ephe/sat/sepm9402.se1
ephe/sat/sepm9501.se1
ephe/sat/sepm9502.se1
ephe/sat/sepm9503.se1
ephe/sat/sepm9504.se1
ephe/sat/sepm9599.se1
ephe/sat/sepm9601.se1
ephe/sat/sepm9602.se1
ephe/sat/sepm9603.se1
ephe/sat/sepm9604.se1
ephe/sat/sepm9605.se1
ephe/sat/sepm9606.se1
ephe/sat/sepm9607.se1
ephe/sat/sepm9608.se1
ephe/sat/sepm9699.se1
ephe/sat/sepm9701.se1
ephe/sat/sepm9702.se1
ephe/sat/sepm9703.se1
ephe/sat/sepm9704.se1
ephe/sat/sepm9705.se1
ephe/sat/sepm9799.se1
ephe/sat/sepm9801.se1
ephe/sat/sepm9802.se1
ephe/sat/sepm9808.se1
ephe/sat/sepm9899.se1
ephe/sat/sepm9901.se1
ephe/sat/sepm9902.se1
ephe/sat/sepm9903.se1
ephe/sat/sepm9904.se1
ephe/sat/sepm9905.se1
ephe/sat/sepm9999.se1
saved_events.json
saved_locations.json
RobotoMono-Regular.ttf:Zone.Identifier
.buildozer
buildozer.spec.bak
todo.txt
to-do.txt
clean_csv.ipynb
cache/kerykeion_geonames_cache.sqlite
*.svg